<footer>
  <div class="footer-content">
    <img src="/img/light-logo.png" class="logo" alt="" />
    <div class="footer-ul-container">
      <ul class="category">
        <li class="category-title">Lorem</li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
      </ul>
      <ul class="category">
        <li class="category-title">Lorem</li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
        <li><a href="#" class="footer-link">Lorem</a></li>
      </ul>
    </div>
  </div>
</footer>
