<ul class="links-container">
  <li class="link-item">
    <a href="/admin/all-products" class="link <%=page==='all-products' && 'active-page' %>">All Products</a>
  </li>
  <li class="link-item">
    <a href="/admin/search-product" class="link <%=page==='search-product' && 'active-page' %>">Search Product</a>
  </li>
  <li class="link-item">
    <a href="/admin/modify-product" class="link <%=page==='modify-product' && 'active-page' %>">Add/Edit Product</a>
  </li>
</ul>
