<ul class="links-container">
  <li class="link-item"><a href="/" class="link <%=page==='Home' && 'active-page' %>">Home</a></li>
  <li class="link-item"><a href="/categories" class="link <%=page==='Products' && 'active-page' %>">Products</a></li>
  <li class="link-item"><a href="/sales" class="link <%=page==='Sales' && 'active-page' %>">Sales</a></li>
</ul>
