<nav class="navbar">
  <div class="nav">
    <a class="logo" href="/">
      <img src="/img/cart2.png" class="brand-logo" alt="logo" />
      <h1>eShop</h1>
    </a>
    <div class="nav-items">
      <div class="search">
        <input type="text" class="search-box" placeholder="search brand, product" />
        <button class="search-btn">search</button>
      </div>
      <a href="#"><img src="/img/user.png" alt="user" /></a>
      <a href="#"><img src="/img/cart.png" alt="cart" /></a>
      <a href="/admin/all-products"><img src="/img/admin.png" alt="admin" /></a>
    </div>
  </div>
</nav>
