.section-cart {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
}

.section-cart > img {
  width: 100%;
  max-width: 500px;
  align-self: center;
  margin-top: 50px;
}
