.section-cart {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
}

.section-cart > img {
  width: 100%;
  max-width: 500px;
  align-self: center;
  margin-top: 50px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}

.cart-container > :first-child {
  flex: 5;
}

.cart-container > :last-child {
  flex: 3;
}
