/* ================================ PRODUCT CATEGORIES ================================*/
.categories-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px auto;
}
.category-card {
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.category-card h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  background-color: rgba(58, 56, 56, 0.5);
  color: #fff;
  z-index: 1;
  padding: 10px;
}
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* add effects*/
  filter: contrast(0.8);
  transition: all 0.5s ease-in-out;
} /*
  ================================ PRODUCTS ================================*/
.products-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  scroll-behavior: smooth;
  gap: 30px;
}
.product-card {
  width: 250px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-image .product-thumb {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.product-image .discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.product-image .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.product-image .buttons .card-btn {
  padding: 10px;
  width: 50px;
  height: 50px;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-image .buttons .card-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card:hover .card-btn {
  opacity: 1;
}
.card-btn:hover {
  background: #efefef;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product-short-des {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.price {
  font-weight: 900;
  font-size: 20px;
}
.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
/* ====================================== PRODUCT PAGE ======================================== */
.product-container {
  width: 90%;
  max-width: 1400px;
  height: 400px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}
.left-container {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.left-gallery {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-right: 30px;
}
.left-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-gallery {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
  padding: 20px;
}
.right-gallery img {
  width: 100%;
  max-height: 70px;
  object-fit: cover;
  border-radius: 5px;
}
.right-container {
  flex: 3;
  width: 500px;
  height: 100%;
  padding-left: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.right-container .name {
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.right-container .description {
  width: 100%;
  margin-bottom: 20px;
  line-height: 20px;
  opacity: 0.5;
}
.right-container .price {
  margin-bottom: 20px;
}
.right-container .price h2 {
  display: inline;
  font-weight: 900;
  margin-right: 20px;
}
.right-container .price :nth-child(2) {
  display: inline;
  opacity: 0.5;
  text-decoration: line-through;
}
.right-container .quantity {
  margin-bottom: 20px;
}
.right-container .quantity label {
  display: inline;
  font-weight: 900;
  margin-right: 20px;
}
.right-container .quantity input {
  display: inline;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.right-container .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.right-container .add-to-cart,
.right-container .add-to-wishlist {
  width: 200px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}
.right-container .add-to-cart {
  /* green color*/
  background: #00b894;
}
.right-container .add-to-wishlist {
  background: #ff7d7d;
}
