/* ================================ PRODUCT CATEGORIES ================================*/
.section-categories {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
}

.section-categories > h1 {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.categories-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.category-card {
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.category-card h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  min-height: 70px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(66, 64, 64);
}

.category-card img {
  border-radius: 5px;
  height: 150px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.category-card:hover img {
  transform: rotate(5deg);
}
