@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'nav.css';
@import 'footer.css';

.active-page {
  border-bottom: 1px solid black;
}

/* ================================ HERO SECTION ================================*/
body {
  background: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

header h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  letter-spacing: 2px;
}

section.options {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

section.options .regular,
section.options .onSale {
  width: 250px;
  padding: 20px;
  margin: 30px 0px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #000;
}

section.options > a h2 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  letter-spacing: 2px;
}

section.options > a img {
  height: 150px;
}
