@import 'nav.css';
@import 'footer.css';

.active-page {
  border-bottom: 1px solid black;
}

/* ================================ HERO SECTION ================================*/

.hero-section {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url('https://developit.gr/files/uploads/2021/01/%CE%9A%CE%B1%CF%84%CE%B1%CF%83%CE%BA%CE%B5%CF%85%CE%AE-eshop-%CE%BC%CE%B5-100-%CE%B5%CF%80%CE%B9%CE%B4%CF%8C%CF%84%CE%B7%CF%83%CE%B7-%CE%BC%CE%AD%CF%83%CF%89-%CF%84%CE%B7%CF%82-%CE%94%CF%81%CE%AC%CF%83%CE%B7%CF%82-e-%CE%BB%CE%B9%CE%B1%CE%BD%CE%B9%CE%BA%CF%8C.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================ PRODUCT CATEGORIES ================================*/
.categories-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px auto;
}

.category-card {
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.category-card h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  background-color: rgba(58, 56, 56, 0.5);
  color: #fff;
  z-index: 1;
  padding: 10px;
}
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* add effects*/
  filter: contrast(0.8);
  transition: all 0.5s ease-in-out;
}

/* ================================ PRODUCTS ================================*/

.product-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  scroll-behavior: smooth;
  gap: 30px;
}

.product-card {
  width: 250px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-image .product-thumb {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.product-image .discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.product-image .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-image .buttons .card-btn {
  padding: 10px;
  width: 50px;
  height: 50px;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-image .buttons .card-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #efefef;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-short-des {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
