<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/form.css">
    <script src="js/form.js"></script>

</head>

<body>
    <nav class="navbar">
        <div class="nav">
            <img src="img/dark-logo.png" class="brand-logo" alt="">
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="search brand, product">
                    <button class="search-btn">search</button>
                </div>
                <a href="#"><img src="img/user.png" alt=""></a>
                <a href="#"><img src="img/cart.png" alt=""></a>
            </div>
        </div>
    </nav>
    <ul class="links-container">
        <li class="link-item"><a href="#" class="link">Lorem</a></li>
        <li class="link-item"><a href="#" class="link">Lorem</a></li>
        <li class="link-item"><a href="#" class="link">Lorem</a></li>
        <li class="link-item"><a href="#" class="link">Lorem</a></li>
        <li class="link-item"><a href="#" class="link">Lorem</a></li>
    </ul>

    <form class="signup-form">
        <img src="img/dark-logo.png" class="brand-logo" alt="">

        <input type="email" autocomplete="off" id="email" placeholder="email">
        <input type="password" autocomplete="off" id="password" placeholder="password">

        <button class="submit-btn">login</button>
        <a href="/signup" class="link">don't have an account? Create one here</a>
    </form>



</body>

</html>