<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title:'Page Not Found'}) %>
  </head>

  <body>
    <div class="flex flex-col items-center justify-center gap-3 h-screen">
      <img src="/img/404.png" alt="404 image" class="h-1/4" />
      <h1 class="font-bold text-9xl">404</h1>
      <p class="text-lg"><span class="text-error font-bold">Opps!</span> Page not found.</p>
      <p class="text-lg">The page you’re looking for doesn’t exist.</p>
      <a href="/" class="btn btn-info btn-outline mt-10 w-80">Go Home</a>
    </div>
  </body>
</html>
