<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title}) %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs', {isLoggedIn, user, title}) %>

    <header>
      <h1>Welcome to our eShop</h1>
      <p>Check our regular and on sale products</p>
    </header>

    <section class="options">
      <a href="/categories" class="regular">
        <h2>Products</h2>
        <img src="/icons/products.png" alt="products" />
      </a>
      <a href="/sales" class="onSale">
        <h2>On Sale</h2>
        <img src="/icons/onSale.png" alt="onSale" />
      </a>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
