<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title:'Home'}) %>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs', {isAdmin}) %>
    <!-- Links -->
    <%- include('../partials/links.ejs', {page:'Home'}) %>

    <header>
      <h1>Welcome to our eShop</h1>
      <p>Check our regular and on sale products</p>
    </header>

    <section class="options">
      <a href="/categories" class="regular">
        <h2>Products</h2>
        <img src="/icons/products.png" alt="products" />
      </a>
      <a href="/sales" class="onSale">
        <h2>On Sale</h2>
        <img src="/icons/onSale.png" alt="onSale" />
      </a>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
