<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title:'Home'}) %>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>
    <!-- Links -->
    <%- include('../partials/links.ejs', {page:'Home'}) %>

    <header class="hero-section">
        <div class="content">
            <img src="img/dummy-image-portrait.jpg" class="logo" alt="">
            <p class="sub-heading">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </header>
    <section class="product">
        <h2 class="product-category">best selling</h2>
    </section>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">Lorem ipsum dolor sit amet..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="img/dummy-image-portrait.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth..</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
    </div>
    <section class="collection-container">
        <a href="#" class="collection">
            <img src="img/dummy-image-portrait.jpg" alt="">
            <p class="collection-title">lorem <br> ipsum</p>
        </a>
        <a href="#" class="collection">
            <img src="img/dummy-image-portrait.jpg" alt="">
            <p class="collection-title">lorem <br> ipsum</p>
        </a>
        <a href="#" class="collection">
            <img src="img/dummy-image-portrait.jpg" alt="">
            <p class="collection-title">lorem</p>
        </a>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>