<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title:'Sales'}) %>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
